<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="memcache" type="NHibernate.Caches.MemCache.MemCacheSectionHandler, NHibernate.Caches.MemCache" />
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ERROR" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <logger name="NHibernate.SQL" additivity="false">
      <level value="ERROR" />
      <appender-ref ref="ConsoleAppender" />
    </logger>
    <logger name="NHibernate.Caches" additivity="false">
      <level value="ERROR" />
      <appender-ref ref="ConsoleAppender" />
    </logger>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <memcache>
    <memcached host="127.0.0.1" port="11211" weight="1" />
  </memcache>
</configuration>